@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.fs14{font-size: 1.4rem !important}
.fs16{font-size: 1.6rem !important; font-weight: normal !important;}
.fs40{font-size: 4rem !important;}
.fc-bl{color: #3673ee !important}
.fc-blc{color: #000 !important}
.fc-262626{color: #262626 !important}
.fc-red{color:#f8483b !important}
.ht{text-indent: 100%; white-space: nowrap; overflow: hidden;}
.tc{text-align: center !important}
.tl{text-align: left !important}
.tr{text-align: right !important}
.pdr0{padding-right:0 !important}
.pdl0{padding-left:0 !important}
.pdlr18{padding-left:18px !important; padding-right:18px !important}
.pdb100{padding-bottom: 100px !important}
.pdt30{padding-top: 30px !important}
.pdt50{padding-top: 50px !important}
.op1{opacity: 1 !important}
.brd0{border:none !important}


/* layout */
.tit{font-size: 1.6rem;font-weight: normal;}
.cap{color:#a1a3a6 !important; font-size: 1.2rem !important}

.df{display:flex;}
.ai-fs{align-items: flex-start!important;}
.js-sb{justify-content: space-between!important;}

/* button */
button{overflow: visible;}
.btn { padding: 0 .5rem; font-size: 1.6rem; line-height: 3;; color: #3673ee;    border-color: #dadce0; position: relative; z-index: 0;align-items: center; justify-content: center;text-align: center; letter-spacing: .009375rem; vertical-align: middle;background-color: #fff; }
.btn-block{ display: block; width: 100%;}
.btn-radius{border-radius: .3rem; border:1px solid #accafb}
.btn-bl{ background:#3673ee; color:#fff; }
.btn-wh{ background-color:#fff; color:#3673ee; border-top: 1px solid #ededed;}
.btn2 {width:50%; }
.brl{border-left: 1px solid #ededed}
.btn-faq{background:#fff no-repeat 29% 49% url("../images/common/cellphone.png"); background-size: 16px 16px;}
.btn-reg{font-size:1.4rem; line-height: 2.5}
.btn-reg:before{content: '+'; font-size: 2.2rem; font-weight: lighter; color:#3673ee; position: absolute; top: -10px; left: 50%; margin-left:-63px }


.error{padding-top:100px !important}
.error h1{ padding:20px 0;color: #000; font-size: 2.6rem; font-weight: bold;}
.error p{  color: #262626; font-size: 1.6rem}
.error img{ width:56px; height:56px}

.fixed{position:fixed;left:0;bottom:0; width:100%; z-index: 1001}

header .txt{opacity: 0; }
section.wrap{min-height: 100%; magin:0 auto -50px;}
section.wrap h1.t1{padding-top: 37px}
section.wrap h1.t1 , h1.t1 span {font-size: 2.6rem}




/* Modal Popup */
header .list-card{background:#fff no-repeat url("../images/common/drop_down.png"); background-size: 24px 24px; background-position: right -5px top 15px; padding:0 20px}
body.modal-open{height: 100vh;overflow-y: hidden;}


.modal {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.modal.is-visible {
    visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-left: 0;
  background-color: #fff;
  /* box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35); */
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header{padding: 2.5em 2.5em;}
.modal-content { padding: 0 2.5em 2.5em; }

.modal-header {
  position: relative;
  background-color: #fff;
  /* box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
  border-bottom: 1px solid #e8e8e8; */
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #aaa;
  background: none;
  border: 0;
}

.modal-close:hover {
  color: #777;
}

.modal-heading {
  font-size: 1.6rem;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.modal-content li .btn{font-size: 1.6rem;line-height: 3; color:#262626;padding:0 !important}
.modal-content li.selected .btn{color: #3673ee;background:no-repeat url("../images/common/ico_selected.png"); background-size: 15px 11px; background-position: right 0px top 15px;}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}


/* modal popup - alert */

.modal2 { display:none; z-index:1020;position:fixed; background:rgba(0,0,0,.8);width:100%; height:100%; top:0; left:0; }
.modal2 .modal-content {position: relative; overflow:hidden; margin: 0 10px; padding:0; width: auto!important; background:#fff; border-radius:5px; text-align:center; animation: animatetop 0.4s; }
/* @keyframes animatetop{from{top:-50px;opacity:0} to{top:0;opacity:1}} */
.modal2 .modal-content h1 { font-size:1.8rem;padding:3.5rem 0 2.5rem;  }
.modal2 .modal-content .pop_con{color:#666; font-size:1.6rem; margin-bottom:4rem; line-height:148%;}
.modal2 .modal-content .btn_list {font-size:0}
.modal2 .modal-content .btn_list li { display:inline-block; height:5rem;line-height:5rem; color:#fff;font-size:1.6rem;width:50%;}
.modal2 .modal-content .btn_list li.btn_cancel {background:#595959;}
.modal2 .modal-content .btn_list li.btn_confirm { background:#3673ee;}

@media (max-width: 768px) .modal2 .modal-content { width: 500px; }
@media (max-width:600px){ .modal2 .modal-content{margin: 0 10px; width: auto!important;} }

.btnList { width:100%; background:#fff; margin-top:5rem;}
.btnList.fixed {position: fixed; left:0; bottom:0; z-index: 10000}
.btnList:after {display:block;content:'';clear:both}
.btnList li {position:relative; float:left; box-sizing:border-box;background:#fafafa;border-top:1px solid #e0e0e0;width:50%; text-align:center; padding:2.1rem 0}
.btnList li.on {background:#f5f5f5}
.btnList li:first-child {border-right:1px solid  #e0e0e0;}
.btnList li a {font-size:1.4rem; color:#000;display:block;font-family:'skpgo_LM' }
.btnList li a.first:before{display:block; content:''; background:url("/images/fuel/ico_friends_v2.png") 0 0 no-repeat; background-size:100% auto; width:2.55rem; height:2.85rem; /*margin:-0.2rem auto 1rem auto;*/ margin:0 auto 1.15rem auto;}
.btnList li a.second:before{display:block; content:''; background:url("/images/fuel/ico_card2_v2.png") 0 0 no-repeat; background-size:100% auto; width:3.95rem; height:2.65rem; margin:0.2rem auto 1.15rem auto;}
.btnList li a.second.no {color:rgba(0,0,0,.5)}
.btnList li a.second.no:before { opacity:0.3}
.btnList li .tooltip {position:absolute; top:-2.7rem; left:50%; margin-left:-7.4rem; border-radius: 25px;;
  -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.13);
}
.btnList li .tooltip span {position:relative; display:block; font-size:1.4rem; line-height:200%; border-radius: 25px; background-color:#fff; padding:0.2rem 1.5rem; color:#4461e0; background:#fff; z-index:20;}
.btnList li .tooltip:before {content: ''; position: absolute; bottom:-0.3rem; left:50%; margin-left:-0.8rem; z-index:10;
  background-color:#fff; width:15px; height:15px; transform:rotate(45deg); margin-top:-0.3rem;
  /* border-top: 13px solid #fff;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  background-color:transparent;  */
  -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.13);
}
