@font-face {
  font-family: 'nanumBarunGothic-light';
  src: url('../font/NanumBarunGothicLight-subset.eot');
  src: url('../font/NanumBarunGothicLight-subset.eot?#iefix') format('embedded-opentype'), url('../font/NanumBarunGothicLight-subset.woff') format('woff'), url('../font/NanumBarunGothicLight-subset.woff2') format('woff2'), url('../font/NanumBarunGothicLight-subset.ttf') format('truetype'), url('../font/NanumBarunGothicLight-subset.svg#NanumBarunGothicLight-subset') format('svg')
}

@font-face {
  font-family: 'nanumBarunGothic-regular';
  src: url('../font/NanumBarunGothic-subset.eot');
  src: url('../font/NanumBarunGothic-subset.eot?#iefix') format('embedded-opentype'), url('../font/NanumBarunGothic-subset.woff') format('woff'), url('../font/NanumBarunGothic-subset.woff2') format('woff2'), url('../font/NanumBarunGothic-subset.ttf') format('truetype'), url('../font/NanumBarunGothic-subset.svg#NanumBarunGothic-subset') format('svg')
}

@font-face {
  font-family: 'nanumBarunGothic-bold';
  src: url('../font/NanumBarunGothicBold-subset.eot');
  src: url('../font/NanumBarunGothicBold-subset.eot?#iefix') format('embedded-opentype'), url('../font/NanumBarunGothicBold-subset.woff') format('woff'), url('../font/NanumBarunGothicBold-subset.woff2') format('woff2'), url('../font/NanumBarunGothicBold-subset.ttf') format('truetype'), url('../font/NanumBarunGothicBold-subset.svg#NanumBarunGothicBold-subset') format('svg')
}

@font-face {
  font-family: 'nanumBarunGothic-ultraLight';
  src: url('../font/NanumBarunGothicUltraLight-subset.eot');
  src: url('../font/NanumBarunGothicUltraLight-subset.eot?#iefix') format('embedded-opentype'), url('../font/NanumBarunGothicUltraLight-subset.woff') format('woff'), url('../font/NanumBarunGothicUltraLight-subset.woff2') format('woff2'), url('../font/NanumBarunGothicUltraLight-subset.ttf') format('truetype'), url('../font/NanumBarunGothicUltraLight-subset.svg#NanumBarunGothicUltraLight-subset') format('svg')
}

@font-face {
  font-family: 'notokr-medium';
  src: url('../font/notokr-demilight.eot');
  src: url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'), url('../font/notokr-medium.woff2') format('woff2'), url('../font/notokr-medium.woff') format('woff'), url('../font/notokr-medium.ttf') format('truetype'), url('../font/notokr-medium.svg#notokr-medium') format('svg')
}

@font-face {
  font-family: 'notokr-demilight';
  src: url('../font/notokr-demilight.eot');
  src: url('../font/notokr-demilight.eot?#iefix') format('embedded-opentype'), url('../font/notokr-demilight.woff2') format('woff2'), url('../font/notokr-demilight.woff') format('woff'), url('../font/notokr-demilight.ttf') format('truetype'), url('../font/notokr-demilight.svg#notokr-demilight') format('svg')
}

@font-face {
  font-family: 'notokr-light';
  src: url('../font/notokr-light.eot');
  src: url('../font/notokr-light.eot?#iefix') format('embedded-opentype'), url('../font/notokr-light.woff2') format('woff2'), url('../font/notokr-light.woff') format('woff'), url('../font/notokr-light.ttf') format('truetype'), url('../font/notokr-light.svg#notokr-light') format('svg')
}

@font-face {
  font-family: 'notokr-bold';
  src: url('../font/notokr-bold.eot');
  src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'), url('../font/notokr-bold.woff2') format('woff2'), url('../font/notokr-bold.woff') format('woff'), url('../font/notokr-bold.ttf') format('truetype'), url('../font/notokr-bold.svg#notokr-bold') format('svg')
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  vertical-align: top;
  border: 0;
  text-decoration: none;
  font-family: 'AppleSDGothicNeo-Regular', 'nanumBarunGothic-regular';
  line-height: 120%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  vertical-align: top;
  color: #000;
  letter-spacing: -0.05rem
}

body.ios {
  -webkit-text-size-adjust: 107%
}

body.hidden {
  overflow: hidden
}

ul, li {
  list-style: none
}

img {
  width: 100%
}

br {
  line-height: 0
}

h1, h2 {
  font-weight: normal
}

.ultraLight {
  font-family: 'AppleSDGothicNeo-UltraLight', 'nanumBarunGothic-ultraLight'
}

.light {
  font-family: 'AppleSDGothicNeo-Light', 'nanumBarunGothic-light'
}

strong, b, .bold {
  font-family: 'AppleSDGothicNeo-Bold', 'nanumBarunGothic-bold';
  font-weight: normal
}

body>header {
  height: 50px;
  background: #f7f7f7;
  padding: 0 15px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1010
}

body>header.underLine {
  border-bottom: .05rem solid #dedede
}

body>header.hover {
  background: rgba(255, 255, 255, 0.94);
  border-bottom: 1px solid #dedede
}

body>header.underLine.hover {
  border-bottom: 0
}

body>header a {
  display: inline-block;
  color: #000;
  position: relative;
  line-height: 53px;
  font-size: 1.8rem;
  position: absolute
}

body.ios>header a {
  line-height: 49px
}

body>header a.txt {
  position: static;
  white-space: nowrap
}

body>header a.backBtn {
  height: 23px;
  width: 13px;
  background: url("../images/common/backBtn.png") 0 0 no-repeat;
  background-size: 100% auto;
  left: 16px;
  top: 13px
}

body>header a.backBtn.touch {
  background-position: 0 bottom
}

body>header a.rightBtn {
  width: 25px;
  height: 25px;
  right: 15px;
  top: 12px
}

body>header a.settingBtn {
  background: url("../images/common/settingBtn.png") 0 0 no-repeat;
  background-size: 100% auto
}

body>header a.rightBtn.settingBtn.touch {
  background
