/* eunsim kang 12062017 from Alma */
.fs14{font-size: 1.4rem}
.fc_bl{color: #2f7bf5}

header .txt{opacity: 1; display:none}



section.wrap{min-height: 100%; magin:0 auto -50px;}
section.wrap .title{padding-top: 37px}
section.wrap h1.t1 , h1.t1 span {font-size: 2.6rem}
section.wrap p.t2{padding-top: 15px; line-height: 2rem}
section.wrap p.t2, p.t2 span{font-size: 1.4rem}
section.wrap .underLine {position: relative;;}
section.wrap .underLine::after {  position:absolute; left: 0; bottom:0; z-index: -1; content: ''; width: 160px; border-bottom: .2em solid #97e9ff; }


.registerProcedure{position: relative; padding-top: 60px; font-size: 1.6rem}
.registerProcedure ol{position:absolute;left:50%; width:210px; margin-left: -105px; padding-bottom: 280px}
.registerProcedure li{font-size: 1.6rem; margin:10px 0; padding:3px 0 3px 35px; text-align: left;  background-repeat: no-repeat, no-repeat; background-size:24px 24px, 12px 12px;}

.registerProcedure li:nth-child(1){ background-position: 0 0; background-image:url("../images/main/number_1@2x.png"); }
.registerProcedure li:nth-child(2){ line-height: 150%; background-position:0 0, left 5px bottom 5px; background-image:url("../images/main/number_2@2x.png"), url("../images/main/next@2x.png"); }
.registerProcedure li:nth-child(3){ padding-bottom: 25px; background-position:0 0, left 5px bottom 0; background-image:url("../images/main/number_3@2x.png"), url("../images/main/next@2x.png"); }
.registerProcedure li:nth-child(4){ background-position: 0 0; background-image:url("../images/main/number_4@2x.png"); }

.registerProcedure li:nth-child(1) .regisiter{position: relative; left:50%; width: 320px; margin:15px 0 0 -175px; padding-top: 210px; display: inline-block;background:no-repeat 0 0 url("../images/main/card@2x.png"); background-size: 320px 216px;}
.registerProcedure li:nth-child(1) .regisiter span{position: absolute; bottom: 40px; width:100%; text-align: center;display: inline-block;color:#accafb}
.registerProcedure li:nth-child(2) span{display: inline-block; font-size: 1.2rem; color:#56c6e4;}


.btnList{position:fixed;left:0;bottom:0; width:100%; border-top: 1px solid #ededed; background-color: #FFF}
.btnList li {float:left; width:50%; border-left: 1px solid #ededed}
.btnList li:nth-child(2n){}
.btnList li a {display:inline-block;padding:18px 0;color:#2f7bf5; text-align: center;font-size: 1.6rem;}


.mybenefit{padding-top: 32px;text-align: left;}
.mybenefit h2{font-size: 1.6rem; color: #262626}
.mybenefit h2 span{float:right;font-size: 1.2rem; text-align: right; color: #a1a3a6}
.mybenefit h3{display: flex!important;align-items: center!important;justify-content: space-between!important;font-size: 1.4rem}
.mybenefit h3 a.btnUp{width:24px; height: 24px; background:no-repeat 0 0 url("../images/main/arrowincircle@2x.png"); background-size: 24px 24px;}
.mybenefit {}
