
.select-card{display:flex;flex-direction: column;justify-content: center;justify-content: center;}
.select-card li{margin-bottom:5px}
.select-txt{margin-top:25px;color: #dbdbdb; font-size: 1.6rem}
.select-card li a{display:block;width:100%; height:auto; padding:60px 0 30px; font-size: 1.4rem; color:#a1a3a6; border-radius: 5px; border:1px solid #f0f0f0;}
.select-card li.samsung a{ background: url("../images/common/ico-samsung.png") center 40% no-repeat;background-size: 108px auto;}
.select-card li.shinhan a{ background: url("../images/common/ico-shinhan.png") center 40% no-repeat;background-size: 65px auto;}
.select-card li.hyundai a{ background: url("../images/common/ico-hyundai.png") center 40% no-repeat;background-size: 96px auto;}

/*  */
.sortable-my-card{padding:30px 0 0;}
.sortable-my-card li{position:relative;margin:0 0 25px; padding:10px 0 13px 37%; font-size: 1.8rem; display: flex!important;align-items: center;justify-content: space-between;}
.sortable-my-card li:before{position:absolute;left:0;top:0;content:'';background:no-repeat 0 0 url("../images/common/ico-move.png"); background-size: 18px 10px;background: #333;}
.sortable-my-card li h4{ flex-basis: 48%; font-size: 1.6rem;font-weight: normal;}
.sortable-my-card li div{flex-basis: 18%; }
.sortable-my-card li.samsung{background:no-repeat 16% 0 url("../images/main/samsung.png"); background-size: 60px 40px;}
.sortable-my-card li.shinhan{background:no-repeat 16% 0 url("../images/main/shinhan.png"); background-size: 60px 40px;}
.sortable-my-card li.hyundai{background:no-repeat 16% 0 url("../images/main/hyundai.png"); background-size: 60px 40px;}
.sortable-my-card .btn-trash{width:18px; height:18px; display: inline-block; background:no-repeat 0 0 url("../images/common/ico-trashcan.png"); background-size: 18px 18px; }

.draggable, .droppable {
  border: 1px dashed #000;
  width: 50px;
  height: 50px;
  background-color: #fff;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.droppable {
  border-color: #31b03d;
  padding: 5px 2px;
}

.draggable.clone {
  background-color: #abe2a5;
}

.droppable.big {
  height: 60px;
  width: 100px;
}

.droppable.big .droppable {
  float: right;
}

.droppable.active {
  background-color: #abe2a5;
}

.droppable.drop-here {
  background-color: #3498db;
}

.droppable .draggable {
  width: 16px;
  height: 16px;
  margin: 0 3px;
  font-size: 10px;
  padding: 2px;
}
ul.list, ul.grid {
  list-style-type: none;
  padding: 0;
  width: 162px;
}

ul.grid.wide {
  width: 100%;
  height: 50px;
}

ul.grid.active {
  background-color: #abe2a5;
}

ul.list li, ul.grid li {
  border: 1px solid #DCDBDD;
  margin: 2px;
  padding: 2px 5px;
  background-color: #F6F5F7;
  box-sizing: border-box;
  vertical-align: top;
}

ul.list li {
  height: 28px;
}

ul.grid li {
  float: left;
  height: 50px;
  width: 50px;
}

ul.list li.placeholder, ul.grid li.placeholder {
  border-style: dashed;
  background-color: transparent;
}
